<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Happy Letters</title>
	<%= javascript_include_tag "application" %>
        <style>
        </style>
    </head>
<body>

<h1>Anagramish Thoughts</h1>

Sunshine, daisies, butter mellow,
<i>Turn this stupid fat rat yellow!</i>


<div class="thoughts">
  <ul>
    <li class="thinks">The road goes ever on and on</li>
    <li class="thinks">Down from the door where it began</li>
    <li class="thinks">Now far ahead the road has gone</li>
    <li class="thinks">And I must follow if I can</li>
    <li class="thinks">Pursuing it with weary feet</li>
    <li class="thinks">Until it meets some larger way</li>
    <li class="thinks">Where many paths and errands meet</li>
    <li class="thinks">And wither then? I cannot say</li>
  </ul>
</div>

<div id="click_time">
</div>

