<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Anagramish</title>
	<%= javascript_include_tag "application" %>
        <style>
        </style>
    </head>
<body>
<div class="container">
  <div class="row banner">
    <div class="span12">
      <h1>Anagramish Thoughts</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12" id="thought-display"></div>
  </div>
  <div class="row">
    <div class="span6"></div>
    <div class="span6"><h5>CLICK ON THE HAPPY THOUGHT FOR ANOTHER HAPPY THOUGHT!</h5></div>
</div>

<div class="thoughts">
  <ul>
    <% thoughts = n_random_thoughts 100 %>
    <% thoughts.each do |t| %>
        <li class="thinks"><%= "Happy thought: #{t}" %></li>
    <% end %>
  </ul>

<div id="click_time">
</div>

</div>



